{% extends 'core/base.html' %}

{% block content %}

{% if request.user.is_authenticated %}



<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Listado de Proyectos</h3>
            <div class="input-group mb-3">
              <div class="input-group-append">
              </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" id="tarjetaTablas">
      
          <table class="table table-bordered table-hover tabla-proyectos">
        <thead>
          <tr>
            <th scope="col">ID Proyecto</th>
            <th scope="col">Cliente</th>
            <th scope="col">Categoria</th>
            <th scope="col">Nombre Proyecto</th>
            <th scope="col">Instalación</th>
            <th scope="col">Fecha Creacion</th>
            <th scope="col">Plazo Entrega</th>
            <th scope="col">Status</th>
            <th class="tiempo-restante-header">Tiempo</th>
            <th scope="col">Acciones</th>
            
          </tr>
        </thead>
        <tbody>
       {% for proyecto in proyectos %}
          <tr>
            <th scope="row">{{ proyecto.id_proyecto }}</th>
            <td scope="row">{{ proyecto.cliente }}</td>  
            <td scope="row">{{ proyecto.categoria }}</td>
            <td scope="row">{{ proyecto.nombre_proyecto }}</td>
            <td scope="row">{{ proyecto.instalacion }}</td>
            <td scope="row">{{ proyecto.fecha }}</td>
            <td scope="row">{{ proyecto.plazo_entrega }}</td>

            <td scope="row">{{ proyecto.status }}</td>
                    <td>{{ proyecto.tiempo_restante }} días</td>
            <td>          
             <a class="btn btn-warning botonEditar" href="{% url 'editarProyecto' proyecto.id_proyecto %}" role="button"><i class="fas fa-pen"></i></button>
             <a class="btn btn-danger botonEliminar" href="{% url 'eliminarProyecto' proyecto.id_proyecto %}" role="button"><i class="fas fa-trash-alt"></i></button>
            <!-- <a class="btn btn-primary botonVer" href="{% url 'avances' %}" role="button"><i class="fas fa-eye"></i></button>  --> 
            </td>
          </tr>
          {% endfor %}

        </tbody>
        
        </table>

      </div>
      <div class="float-md-start">
      <a class="btn btn-warning" id="btnProyecto" href="{% url 'agregarProyecto' %}" role="button"><i class="fas fa-add"></i>Agregar Nuevo Proyecto</a>
      </div>
    </div>
  </div>
</div>



{% endif %}



{% endblock %}