{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<script src="{% static 'js/clientes.js' %}"></script>

  <form action="" method="POST">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-add"></i>Editar Cliente
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title"><i class="fa-solid fa-address-book"></i>Detalles</h3>
                            </div>
                            <div class="card-body">
                               {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-4">
                                {{ addcli.rut_cliente | as_crispy_field }}
                                </div>
                                <div class="col-lg-4">
                                {{ addcli.nombre | as_crispy_field }}
                            </div>
                            <div class="col-sm-4">
                           {{ addcli.apellido | as_crispy_field }}
                        </div>
                        <div class="col-sm-6">
                        {{ addcli.direccion | as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                    {{ addcli.telefono | as_crispy_field }}
                </div>
                <div class="col-sm-6">
                    {{ addcli.correo| as_crispy_field }}
                </div>
                <div class="col-sm-6">
                    {{ addcli.comuna | as_crispy_field }}
                </div>
        
                            </div>
                            <div class="card-footer">
                            <button type="submit" class="btn btn-primary btn-flat">
                                <i class="fas fa-save"></i> Actualizar Cliente
                            </button>
                            <a href="{% url 'listarClientes' %}" class="btn btn-danger btn-flat">
                                <i class="fas fa-times"></i> Cancelar
                            </a>
                            </div>
                        </div>
                        <div class="card-footer">
                            
                        </div>
                    </div>
                    
                   </div>
                </div>
        
            </div>
            <br>

    
        </div>
    </form>

{% endblock %}