{% extends 'core/base.html' %}

{% block content %}

{% if request.user.is_authenticated %}
{% load static %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      
        </div>
     <div class="card">
        <div class="card-header">
          <h3 class="card-title">Listado de Equipos</h3>
          <form action="" method="GET">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Buscar por ID Equipo" aria-label="Recipient's username" aria-describedby="button-addon2" name="search">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Buscar</button>
              </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
            
            <table class="table table-bordered table-hover tabla-datos">
                <thead>
                <tr>
                    <th scope="col"># Proyecto</th>
                    <th scope="col"># Equipo</th>
                    <th scope="col">Nombre Equipo</th>
                    <th scope="col">Trabajadores</th>
                    <th scope="col">Acciones</th>
                    
                </tr>
                </thead>
                <tbody>
            {% for equipo in equipos %}
                <tr>
                    <th scope="row">{{ equipo.proyecto_id_proyecto }}</th>
                    <td>{{ equipo.id_equipo }}</td>
                    <td>{{ equipo.nombre_equipo }}</td>
                    <td>{{ equipo.trabajadores }}</td>
                    
            
                    <td>
                    <a class="btn btn-warning botonEditar" href="{% url 'editarTrabajadores' user.rut %}" role="button"><i class="fas fa-pen"></i></button>
                    <a class="btn btn-danger botonEliminar" href="{% url 'eliminarTrabajadores' user.rut %}" role="button"><i class="fas fa-trash-alt"></i></button>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        </div>
        <!-- /.card-body -->

    </div>
  </div>
</div>
{% endif %}

{% endblock %}