{% extends 'core/base.html' %}

{% block content %}

{% if request.user.is_authenticated %}
{% load static %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      
        </div>
     <div class="card">
        <div class="card-header">
          <h3 class="card-title">Listado de Tareas</h3>
          <form action="" method="GET">
            <div class="float-md-end">
              <a class="btn btn-warning" id="btnProyecto" href="{% url 'agregarTareas' %}" role="button"><i class="fas fa-add"></i>Agregar Tarea</a>
              </div>
              <div class="form-group text-center col-2">
                <label for="filtroEquipo">Filtrar por Equipo</label>
                <select id="filtroEquipo" class="form-control form-control-sm mx-auto">
                  <option value="">Seleccionar Equipo</option>
                  <!-- Agrega opciones de equipos aquí -->
                </select>
              </div>
              
              <div class="form-group text-center col-2">
                <label for="filtroProyecto">Filtrar por Proyecto</label>
                <select id="filtroProyecto" class="form-control form-control-sm mx-auto">
                  <option value="">Seleccionar Proyecto</option>
                  <!-- Agrega opciones de proyectos aquí -->
                </select>
              </div>
            <div class="input-group mb-3">
              <div class="input-group-append">
              </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">

          
            <table class="table table-bordered table-hover tabla-tareas">
                <thead>

                  
                  
                  
                <tr>
                    <th scope="col">N° Tarea</th>
                    <th scope="col">Equipo</th>
                    <th scope="col">Proyecto </th>
                    <th scope="col">Tarea</th>
                    <th scope="col">Trabajador</th>
                    <th scope="col">Fecha Tarea</th>
                    <th scope="col">Fecha Limite Termino</th>
                    <th scope="col">Status</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                </tr>
            </tbody>
        </table>
        <div class="float-md-start">
          <a class="btn btn-warning" id="btnProyecto" href="{% url 'agregarTareas' %}" role="button"><i class="fas fa-add"></i>Agregar Tarea</a>
          </div>
        </div>
        <!-- /.card-body -->

    </div>
  </div>
</div>
{% endif %}

<!-- Modal de Tareas por Equipo -->
<div class="modal fade" id="ModalTarea" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalle de Equipo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-hover" id="tblDetalleTareas">
          <thead>
            <tr>
              <th scope="col">N° Tarea</th>
              <th scope="col">Tarea</th>
              <th scope="col">Trabajador</th>
              <th scope="col">Fecha Tarea</th>
              <th scope="col">Fecha Limite Termino</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


</div>

{% endblock %}