{% extends 'core/base.html' %}

{% block content %}

{% if request.user.is_authenticated %}
{% load static %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      
        </div>
     <div class="card">
        <div class="card-header">
          <h3 class="card-title">Listado de Equipos</h3>
          <form action="" method="GET">
            <div class="float-md-end">
              <a class="btn btn-warning" id="btnProyecto" href="{% url 'agregarEquipos' %}" role="button"><i class="fas fa-add"></i>Agregar Equipo</a>
              </div>
            <div class="input-group mb-3">
              <div class="input-group-append">
              </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
            
            <table class="table table-bordered table-hover tabla-equipos">
                <thead>
                <tr>
                    <th scope="col">N° Equipo</th>
                    <th scope="col">Nombre Equipo</th>
                    <th scope="col">Nombre Proyecto</th>
                    <th scope="col">Observaciones</th>
                    <th scope="col">Acciones</th>
                    
                </tr>
                </thead>
                <tbody>
                <tr>
                </tr>
            </tbody>
        </table>
        <div class="float-md-start">
          <a class="btn btn-warning" id="btnProyecto" href="{% url 'agregarEquipos' %}" role="button"><i class="fas fa-add"></i>Agregar Equipo</a>
          </div>
        </div>
        <!-- /.card-body -->

    </div>
  </div>
</div>
{% endif %}

<!-- Modal de Detalle de Equipos -->
<div class="modal fade" id="ModalEquipo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalle de Equipo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-hover" id="tblDetalleEquipo">
          <thead>
            <tr>
              <th scope="col">RUT</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


</div>

{% endblock %}