{% extends 'core/base.html' %}

{% block content %}
  {% load static %}
  {% load crispy_forms_tags %}
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="{% static 'js/productos.js' %}"></script>

  <link rel="stylesheet" href="{% static 'css/base.css' %}">

  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Agregar Producto Nuevo</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form action="" method="POST" id="formProd">
            {% csrf_token %}
            <div class="card-body">
              <div class="row">
                <div class="col-lg-8">
                  <div class="card card-secondary">
                    <div class="card-header">
                      <h3 class="card-title"><i class="fa-solid fa-address-book"></i>Datos del Producto</h3>
                    </div>
                    <div class="card-body">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-lg-6">
                            {{ addpro.nombre_producto | as_crispy_field }}
                          </div>
                          <div class="col-lg-6">
                            {{ addpro.descripcion | as_crispy_field }}
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-lg-6">
                            {{ addpro.categoria | as_crispy_field }}
                            <div class="input-group-append">
                                        <!-- <button class="btn btn-success btn-flat btnMarca" id="btnMarca" type="button">
                                <i class="fas fa-plus"></i>
                              </button>-->
                            </div>
                          </div>
                          <div class="col-lg-6">
                            {{ addpro.subcategoria | as_crispy_field }}
                            <div class="input-group-append">
                      
                      
                              <!-- <button class="btn btn-success btn-flat btnMarca" id="btnMarca" type="button">
                                <i class="fas fa-plus"></i>
                              </button>-->


                            </div>
                          </div>
                          <div class="col-lg-6">
                            {{ addpro.marca | as_crispy_field }}
                            <div class="input-group-append">
                           
                           
                              <!-- <button class="btn btn-success btn-flat btnMarca" id="btnMarca" type="button">
                                <i class="fas fa-plus"></i>
                              </button>-->


                            </div>
                          </div>
                          <div class="col-lg-6">
                            {{ addpro.variante | as_crispy_field }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card card-secondary">
                    <div class="card-header">
                      <h3 class="card-title"><i class="fa-solid fa-address-book"></i>Detalles</h3>
                    </div>
                    <div class="card-body">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-lg-12">
                            {{ addpro.precio_compra | as_crispy_field }}
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            {{ addpro.precio_venta | as_crispy_field }}
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            {{ addpro.stock | as_crispy_field }}
                          </div>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary agregarBoton">Agregar</button>
                      <a href="{% url 'listarProductos' %}" class="btn btn-danger btn-flat">Listar Productos</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      
          </form>
        </div>
        <!-- /.card-body -->
        <hr>
        <div class="col-md-12">
          <div id="toast" class="alert alert-info" style="display: none;"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
