{% extends 'core/base.html' %}

{% block content %}

{% if request.user.is_authenticated %}
{% load static %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      
        </div>
     <div class="card">
        <div class="card-header">
          <h3 class="card-title">Listado de Categorias y SubCategorias</h3>
            <div class="input-group mb-3">
              <div class="input-group-append">
          
              </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" id="tarjetaTablas">
      
          <table class="table table-bordered table-hover tabla-datos">
                <thead>
                <tr>
                    <th scope="col">Categoria</th>
                    <th scope="col">Subcategoria</th>
                    <th scope="col">Acciones</th>
                    
                </tr>
                </thead>
                <tbody>
            {% for Categoria in categorias %}
                    {% for Subcategoria in subcategorias %}
                <tr>
                    <th scope="row">{{ Categoria.nombre_categoria }}</th>
                    <th scope="row">{{ Subcategoria.nombre_subcategoria }}</th>
                    <td>
                    <a class="btn btn-warning botonEditar" href="{% url 'editarTrabajadores' user.rut %}" role="button"><i class="fas fa-pen"></i></button>
                    <a class="btn btn-danger botonEliminar" href="{% url 'eliminarTrabajadores' user.rut %}" role="button"><i class="fas fa-trash-alt"></i></button>
                    </td>
                </tr>
                    {% endfor %}
                {% endfor %}

            </tbody>
        </table>
        </div>
        <!-- /.card-body -->

    </div>
  </div>
</div>
{% endif %}

{% endblock %}