{% extends 'core/base.html' %}

{% block content %}

{% if request.user.is_authenticated %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
      <h1 class="text-center">Listado de Productos  </h1>
      <div class="input-group mb-3">
        <div class="input-group-append">
        </div>
      </div>
      <div class="card-body table-responsive p-0" id="tarjetaTablas">
    
        <table class="table table-bordered table-hover tabla-productos">
        <thead>
          <tr>
            <th scope="col">ID Producto</th>
            <th scope="col">Nombre Producto</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Categoria</th>
            <th scope="col">Subcategoria</th>
            <th scope="col">Marca</th>
            <th scope="col">Precio Compra</th>
            <th scope="col">Precio Venta</th>
            <th scope="col">Stock</th>
            <th scope="col">Variante</th>
            <th scope="col">Acciones</th>
            
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}