{% extends 'core/base.html' %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="{% static 'css/base.css' %}">
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper">
    <form action="" method="POST">
         {% csrf_token %}
         {{ AggForm.id_proyecto | as_crispy_field}} 
         {{ AggForm.cliente | as_crispy_field}}
        {{ AggForm.categoria | as_crispy_field}}
        {{ AggForm.nombre_proyecto | as_crispy_field}}
        {{ AggForm.instalacion | as_crispy_field}}
        {{ AggForm.plazo_entrega | as_crispy_field}}
        {{ AggForm.status | as_crispy_field}}
              <a href={%url 'listarTrabajadores'%} class="card-link">Volver</a>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Agregar</button>   
          </div>



    </form>
 </div>

{% endblock %}