{% extends 'core/base.html' %}

{% block content %}

{% if request.user.is_authenticated %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Avance del Proyecto</h1>

      
      <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Proyecto</th>
                <th scope="col">Comentario</th>
                <th scope="col">Avance</th>
               
                
              </tr>
        </thead>
        <tbody>
       {% for avance in avances %}
       <th scope="row">{{ avance.proyecto_id_proyecto }}</th>
       <td>{{ avance.comentario}}</td>
       <td><img src="{{ avance.imagen.url }}"</td>
       {% endfor %}
        </tbody>

    </div>
  </div>
</div>
{% endif %}

{% endblock %}