{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="{% static 'lib/plugins/jquery/jquery.min.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d808a9fd07.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/functions.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="{% static 'lib/plugins/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/plugins/jquery-confirm/jquery-confirm.min.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% block javascript %}
    <title>Craftify</title>
  </head>
  <body>

<!-- As a heading -->
  <nav class="navbar">
    <span class="navbar-brand mb-3 h2"></span>
  </nav>
      <main>
      <!-- LOGO Y BARRA DE NAVEGACIÓN -->
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-dark" id="sidebar" style="width: 280px;">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <img src="{% static 'img/logo.png'%}" alt="Logo Craftify" width="64" height="64">
            <span class="craftify">Craftify</span>
            
          </a>
          <hr>

          <!-- NAVEGACIÓN -->
          
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
              <a href="/" class="nav-link active" aria-current="page" id="active">
                <i class="fas fa-home"></i>
                Inicio
              </a>
            </li>
            <li>
              <!-- PESTAÑA DE PROYECTOS -->


              {% if request.user.has_view_proyectos_permission %}
            <li class="dropdown">
              <a href="#" class="nav-link dropdown-toggle  text-truncate" id="active" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-project-diagram"></i>
                Proyectos
              </a>
              <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
                  <li><a class="dropdown-item" href="{% url 'verproyectos'%}">Ver Proyectos</a></li>
                  <li><a class="dropdown-item" href="{% url 'agregarProyecto' %}">Agregar Proyecto</a></li>

                  <li>
                      <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="{% url 'categoriaproyecto' %}">Categorias</a></li>
                  <li><a class="dropdown-item" href="{% url 'statusProyectos' %}">Status</a></li>
              </ul>
              {% endif %}


          </li>
          <!-- FIN PESTAÑA PROYECTOS-->
          {% if request.user.has_view_avances_permission %}
                        <!-- PESTAÑA DE AVANCES -->
                        <li class="dropdown">
                          <a href="#" class="nav-link dropdown-toggle  text-truncate" id="active" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fas fa-image"></i>
                          Avances
                          </a>
                          <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
                              <li><a class="dropdown-item" href="{% url 'avances'%}">Ver Avances</a></li>
                              <li><a class="dropdown-item" href="{% url 'agregarAvances' %}">Agregar Avance</a></li>
                              <li>
                          </ul>
                      </li>
                      <!-- FIN PESTAÑA DE AVANCES-->
                      {% endif %}


          {% if request.user.has_view_cotizaciones_permission %}
          <!-- PESTAÑA DE COTIZACIONES -->
          <li class="dropdown">
            <a href="#" class="nav-link dropdown-toggle  text-truncate" id="active" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-file-invoice-dollar"></i>
              Cotizaciones
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
                <li><a class="dropdown-item" href="{% url 'listarCotizaciones'%}">Ver Cotizaciones</a></li>
                <li><a class="dropdown-item" href="{% url 'agregarCotizaciones' %}">Nueva Cotizacion</a></li>
                <li>
                  <hr class="dropdown-divider">
                  <li><a class="dropdown-item" href="{% url 'metodopago' %}">Métodos de Pago</a></li>
              </li>
            </ul>
            <!--FIN PESTAÑA DE COTIZACIONES-->
                    <!-- PESTAÑA DE CLIENTES -->
          {% endif %}

        {% if request.user.has_view_clientes_permission %}
          <li class="dropdown">
            <a href="#" class="nav-link dropdown-toggle  text-truncate" id="active" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-users"></i>
              Clientes
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
                </li>
                <li><a class="dropdown-item" href="{% url 'listarClientes' %}">Ver Clientes</a></li>
                <li><a class="dropdown-item" href="{% url 'agregarClientes' %}">Agregar Clientes (Masivo)</a></li>
            </ul>
            <!--FIN PESTAÑA DE CLIENTES-->
            {% endif %}

            {% if request.user.has_view_productos_permission %}
            <!-- PESTAÑA DE PRODUCTOS -->
            <li class="dropdown">
              <a href="#" class="nav-link dropdown-toggle  text-truncate" id="active" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-box-open"></i>
                Productos
              </a>
              <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
                  <li><a class="dropdown-item" href="{% url 'listarProductos'%}">Ver Productos</a></li>
                  <li><a class="dropdown-item" href="{% url 'agregarProductos' %}">Agregar Productos</a></li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'catproductos' %}">Categorias</a></li>
                <li><a class="dropdown-item" href="{% url 'subcatproductos' %}">Subcategorias</a></li>
                <li><a class="dropdown-item" href="{% url 'marcaproductos' %}">Marcas</a></li>
                <li><a class="dropdown-item" href="{% url 'todas' %}">Todas</a></li>

              </ul>
              <!-- FIN PESTAÑA DE PRODUCTOS-->
              {% endif %}



            {% if request.user.has_view_equipos_permission %}
            <li class="dropdown">
              <a href="#" class="nav-link dropdown-toggle  text-truncate" id="active" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-people-group"></i>
                Equipos
              </a>
              <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
                  <li><a class="dropdown-item" href="{% url 'listarEquipos'%}">Ver Equipos</a></li>
                  <li><a class="dropdown-item" href="{% url 'agregarEquipos' %}">Agregar Equipos</a></li>
                </ul>
                {% endif %}

          <!-- FIN PESTAÑA DE EQUIPOS-->

            <!-- PESTAÑA DE EQUIPOS -->

            {% if request.user.has_view_tareas_permission %}
            <li class="dropdown">
              <a href="#" class="nav-link dropdown-toggle  text-truncate" id="active" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-tasks"></i>
                Tareas
              </a>
              <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
                <li><a class="dropdown-item" href="{% url 'listarTareas' %}">Ver Tareas</a></li>
                <li><a class="dropdown-item" href="{% url 'agregarTareas' %}">Agregar Tareas</a></li>
                <hr class="dropdown-divider">
                <li><a class="dropdown-item" href="{% url 'statusTareas' %}">Status</a></li>
              </ul>
          </li>
          {% endif %}
          <!-- FIN PESTAÑA DE EQUIPOS-->
          <!-- PESTAÑA DE ADMINISTRACIÓN SOLO SUPERUSER -->
            
          {% if request.user.is_superuser %}
            <li class="dropdown">
              <a href="#" class="nav-link dropdown-toggle  text-truncate" id="active" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user-shield"></i>
                Administracion
              </a>
              <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
                  <li><a class="dropdown-item" href="{% url 'listarTrabajadores'%}">Mis Trabajadores</a></li>
                  <li>
                      <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Editar Permisos</a></li>
              </ul>
          </li>
          {% endif %}
          <!-- FIN PESTAÑA DE ADMINISTRACION SOLO SUPERUSER -->
          <li>
          </ul>
          <hr>

          <!-- SECCIÓN DE USUARIO LOGUEADO -->
          <div class="dropdown">
            <a href="#" class="d-flex align-items-center link-ligth text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" >
              <img src="{% static 'img/logo.png'%}" alt="" width="32" height="32" class="rounded-circle me-2">
              <span class="craftify">{{ user.first_name }} {{user.last_name}} <span>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
              <li><a class="dropdown-item disabled" href="#">Perfil</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'logout'%}">Cerrar Sesion</a></li>
            </ul>
          </div>
        </div>
        <div class="b-example-divider"></div>
        <div class="separator">
  {% block content %} {%endblock%}
  </div>
      </main>
             <!-- DataTables  & Plugins -->

    <script src="{% static 'lib/plugins/jquery-confirm/jquery-confirm.min.js' %}"></script>
    <script src="{% static 'lib/plugins/sweetalert2/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'lib/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'lib/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/plugins/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'lib/plugins/pdfmake/vfs_fonts.js' %}"></script>
    <script src="{% static 'lib/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'lib/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'lib/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
    
   
     <!-- FIN DE SECCIÓN DE USUARIO LOGUEADO-->
  </body>
   
  {% endblock %}
</html>
