{% extends 'core/base.html' %}

{% block content %}

{% if request.user.is_authenticated %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Cotizacion</h1>
      <form action="" method="GET">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Buscar ID" aria-label="Recipient's username" aria-describedby="button-addon2" name="search">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Buscar</button>
          </div>
        </div>
      
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ID Cotizacion</th>            
          </tr>
        </thead>
        <tbody>
       {% for cotizacion in cotizaciones %}
          <tr>
            <th scope="row">{{ cotizacion.id_cotizacion }}</th>
            <td>          
          
             <a class="btn btn-danger botonEliminar" href="{% url 'eliminarProyecto' user.rut %}" role="button"><i class="fas fa-trash-alt"></i></button>
            <a class="btn btn-primary botonVer" href="{% url 'avances' %}" role="button"><i class="fas fa-eye"></i></button>
            </td>
          </tr>
          {% endfor %}

        </tbody>

    </div>
  </div>
</div>
{% endif %}

{% endblock %}