{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}


  <link href="{% static 'lib/plugins/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet"/>
  <script src="{% static 'lib/plugins/jquery-ui/jquery-ui.min.js' %}"></script>

  <link href="{% static 'lib/plugins/select2/css/select2.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'lib/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
  <script src="{% static 'lib/plugins/select2/js/select2.min.js' %}"></script>
  <script src="{% static 'lib/plugins/select2/js/i18n/es.js' %}"></script>

  <script src="{% static 'lib/plugins/moment/moment-with-locales.js' %}"></script>
  <script src="{% static 'lib/plugins/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
  <link href="{% static 'lib/plugins/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"/>

  <link href="{% static 'lib/plugins/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.css' %}" rel="stylesheet"/>
  <script src="{% static 'lib/plugins/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js' %}"></script>

  <script src="{% static 'js/cotizaciones.js' %}"></script>

    <form method="post">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-add"></i>Cotizaciones
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card card-secondary">
                            <div class="card-header">
                                
                                <h4 class="card-title"><i class="fas fa-boxes"></i> Detalle de Productos</h4>
                            </div>
                            <div class="card-body">
                                <div class="alert alert-danger" role="alert">
                                    <i class="fas fa-info-circle"></i> Recuerda que si el cliente no existe, debes crearlo primero.
                                  </div>
                                <div class="form-group">
                                    <label>Buscador de Productos:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="search"
                                            placeholder="Ingrese el nombre del Producto" autocomplete="off">
                                        <span class="input-group-append">
                                            <button type="button" class="btn btn-danger btn-flat"><i
                                                    class="fas fa-times"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <hr>
                                <table class="table table-bordered" id="tblProducts">
                                    <thead>
                                        <button type="button" class="btn btn-danger btn-xs btnRemoveAll" id="btnRemoveAll">
                                            <i class="fa-solid fa-ban" id="iconRemove"></i>Limpiar Todo
                                        </button>
                                    <tr>
                                        <th>Eliminar</th>
                                        <th>Producto</th>
                                        <th>Categoría</th>
                                        <th>Precio</th>
                                        <th width="150px">Cantidad</th>
                                        <th>Subtotal</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                        
                            </div>
                            
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary btn-flat">
                                <i class="fas fa-save"></i> Guardar Cotización
                            </button>
                            <a href="{{ list_url }}" class="btn btn-danger btn-flat">
                                <i class="fas fa-times"></i> Cancelar
                            </a>
                        </div>
                        
                    </div>
                    
                    <div class="col-lg-4">
                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title"><i class="fas fa-shopping-cart"></i> Datos de la Cotización</h3>
                            </div>
                            <div class="card-body">
                                <input type="hidden" name="action" value="{{ action }}">
                                <div class="form-group">
                                    {{ form.fecha_cotizacion | as_crispy_field }}
                                </div>
                                <div class="form-group">
                                    {{ form.nombre_cotizacion| as_crispy_field }}
                                </div>
                                <div class="form-group">
                                    <label>Cliente:</label>
                                    <div class="input-group">
                                        {{ form.cliente }}
                                        <div class="input-group-append">
                                            <button class="btn btn-success btn-flat btnCliente" id="btnClient" type="button">
                                                <i class="fas fa-user-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                <div class="form-group">
                                    {{ form.metodopago | as_crispy_field}}
                                </div>
                                <div class="form-group">
                                    {{ form.formapago | as_crispy_field}}
                                </div>
                                <div class="form-group">
                                    {{ form.status | as_crispy_field}}
                                </div>
                                <div class="form-group">
                                    {{ form.subtotal | as_crispy_field }}
                                </div>
                                <div class="form-group">
                                    <label>Descuento (%) </label>
                                    <input type="number" class="form-control" name="descuento" value="0" min="0" max="100">
                                </div>
                                <div class="form-group">
                                    {{ form.iva | as_crispy_field }}
                                </div>
                                <div class="form-group">
                                    <label>Monto Impuesto:</label>
                                    <input type="text" class="form-control" readonly name="ivacalc" value="0" disabled=True>
                                </div>
                                <label>Monto Descuento:</label>
                                <input type="text" class="form-control" readonly name="dcto" value="0" disabled=True>
                            </div>
                                <div class="form-group">
                                    {{ form.total |  as_crispy_field  }}
                                </div>
                                <div class="form-group">
                                    {{ form.abono|  as_crispy_field  }}
                                </div>
                                <div class="form-group">
                                    {{ form.comentario|  as_crispy_field  }}
                                </div>
                                <hr>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>
            
   
        </div>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="myModalClient" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form id="frmClient" enctype="multipart/form-data" method="post">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <b><i class="fas fa-user-plus"></i> Nuevo registro de un cliente</b>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
           {% csrf_token %}
           {{ frmClient.rut_cliente | as_crispy_field }}
           {{ frmClient.nombre | as_crispy_field }}
           {{ frmClient.apellido | as_crispy_field }}
           {{ frmClient.direccion | as_crispy_field }}
           {{ frmClient.telefono | as_crispy_field }}
           {{ frmClient.correo | as_crispy_field }}
           {{ frmClient.comuna | as_crispy_field }}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">
                            <i class="fas fa-save"></i> Guardar Cliente
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
       
    <script>
        vents.items.products = {{ det|safe }};
        </script>
{% endblock %}